@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --clr-bcg: #f5f5f5;
  --clr-font: #333333;
  --clr-primary: #d23669;
  --clr-accent: #0077c9;
}

.dark-theme {
  --clr-bcg: #272652;
  --clr-font: #f5f5f5;
  --clr-primary: #ffa7c4;
}
.light-theme {
  --clr-bcg: #f5f5f5;
  --clr-font: #333333;
  --nav-font-clr: #f5f5f5;
  --clr-primary: #d23669;
  --clr-accent: #0077c9;
}

body {
  padding: 0;
  background-color: var(--clr-bcg);
  display: flex;
  flex-direction: column;
  transition: background 1s;
}

header {
  display: flex;
  flex-direction: row;
  border: 0px solid var(--font-clr);
  color: var(--font-clr);
}

#kakashi-face-nav {
  filter: invert(1);
  mix-blend-mode: difference;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0px solid var(--font-clr);
  margin: 0 0rem;
  border: 0px solid var(--font-clr);
}

#home {
  margin: 56px 0 0 0;
}

footer {
  display: flex;
  flex-direction: row;

  text-align: center;
  border: 0px solid var(--font-clr);

  border-top: 0.1px solid var(--font-clr);
  color: var(--font-clr);
}

.main-components {
  border: 0px solid var(--font-clr);

  width: 100%;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.invisible-space-m {
  display: flex;
  border: 0px solid var(--font-clr);

  width: 8%;
  height: 100%;
}

button {
  cursor: pointer;
}

span {
  color: orangered;
}

p {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

a {
  text-transform: none;
  text-decoration: none;
  color: var(--font-clr);
}

/* Media Queries */
@media (max-width: 600px) {
  .invisible-space {
    width: 0;
  }

  .invisible-space-m {
    width: 0;
  }

  #copyright-tag {
    margin-top: 0;
  }
}
