.about-page {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    border: 0px solid white;
    padding: 2rem 10rem;

    color: white;
}

.about-page header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 20px;
    border: 0px solid white;
}

.about-page main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 0px solid white;
    padding: 1rem 1rem;
}


/* Main -> First Section (Whoami) */
.about-page .about-whoami-section {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin-bottom: 12px;
}

.about-page .about-description {
    width: 60%;
    border: 0px solid white;

    display: flex;
    flex-direction: column;

    text-align: start;
    font-size: 13px;
    color: white;
}

/* If cursor is no top on whoami section */
.about-page .about-description:hover h3 {
    color: lightgreen;
}

.about-page #desc-intro {
    margin: 22px 0 0 0;
    font-weight: 600;

}

.about-page #desc-text {
    margin: 6px 0;
    max-width: 80%;
    font-weight: 500;

}


#about-image-div {
    width: 40%;
    border: 0px solid white;
}

#about-image-div img {
    width: 70%;
    image-rendering: optimizeSpeed;
}



.about-page button {
    width: fit-content;
    background: none;

    padding: 5px 10px;
    border: 1px solid #ffa500;

    font-family: monospace;
    color: white;

    margin: 12px 0;
}

.about-page button:hover {
    color: lightgreen;
    border: 1px solid lightgreen;
}


/* Mobile Screen */
@media (max-width: 600px) {

    .about-page {
        padding: 0 1rem;
    }

    .about-page main {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .about-page .about-whoami-section {
        margin-bottom: 12px;
    }

    .about-page .about-description {
        width: 100%;
        border: 0px solid white;

        display: flex;
        flex-direction: column;

        text-align: start;
        font-size: 13px;
        color: white;
    }

    #about-image-div {
        width: 0;
    }
}



/* Special HTML Elements */
.about-page button {
    color: white;
    background-color: transparent;

    font-weight: 500;
    font-family: 'Poppins';

    border: 0.5px solid orange;
    margin: 0 0.2rem;
}

.about-page button:hover {
    border: 1px solid lightgreen;
    color: lightgreen;
    background-color: transparent;
}