.follow-line {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem 2rem;

    height: fit-content;
    width: fit-content;

    position: fixed;
    top: 8%;
    border: 0px solid white;
}

.follow-line hr {
    height: 160px;
    opacity: 50%;

    padding: 0rem;
}

.follow-line img {
    height: 18px;
    margin-top: 8px;
}

.follow-line img:hover {
    padding: 1px;
}