.hamburger {
    cursor: pointer;

    height: fit-content;
    width: fit-content;
    transition: all 0.25s;
}

.hamburger-topbun,
.hamburger-bottombun {
    content: "";
    display: block;

    width: 18px;
    height: 1px;
    background: #fff;

    transform: rotate(0);
    transition: all 0.25s;
}

.hamburger-bottombun {
    transform: translateY(5px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-topbun {
    transform: rotate(45deg) translateY(0px);
}

.open .hamburger-bottombun {
    transform: rotate(-45deg) translateY(0px);
}