#quote-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 10rem;
    border: 0px solid whitesmoke;
    color: lightgreen;

    font-family: 'Kalam';
}

#quote-card h3 {
    border: 1px solid whitesmoke;
    padding: 15px;

    text-align: center;

    width: 80%;
    /* font-size: 20px; */
    font-weight: 500;
}

#quote-card #first {
    height: 12px;

    position: relative;
    top: 8px;
    left: -35%;

    background-color: #282C33;
    padding: 0 6px;
    width: fit-content;

}

#quote-card #second {
    height: 10px;

    position: relative;
    top: -5px;
    left: 22%;

    background-color: #282C33;

    margin: 0 8px;
    padding: 0 4px;
    width: fit-content;
}

#quote-card .row {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    border: 1px solid white;
    border-top: none;

    position: relative;
    top: -10px;
    left: 26%;

    /* padding: 6px 12px; */
    height: 48px;
    width: 20%;
}

#quote-card .row span {
    color: white;
}

#quote-card p {
    /* width: max-content; */
    /* text-align: center; */

    display: flex;
    flex-direction: column;

    font-size: 14px;
    font-weight: 400;

    border: 0;
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    #quote-card {
        padding: 1rem 0rem;
    }

    #quote-card h3 {
        width: 90%;
        font-size: 15px;

    }

    #quote-card .row {
        height: 30px;
        width: 28%;
        top: -9px;
    }

    #quote-card .row p {
        font-size: 11px;
        padding: 0 0rem;
    }

    #quote-card #second {
        height: 8px;
    }
}