#about-section {
    display: flex;
    flex-direction: column;

    border: 0px solid white;
    padding: 0 10rem;

    color: white;
}

#about-section #hash {
    color: orangered;
}

#about-section main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border: 0px solid white;
    padding: 1rem 2rem;
}

/* Main -> First Section */
#about-section .about-description {
    width: 60%;
    border: 0px solid white;

    display: flex;
    flex-direction: column;

    text-align: start;
    font-size: 14px;
}

#about-section #desc-intro {
    margin: 6px 0;
}

#about-section #desc-text {
    margin: 6px 0;

    font-size: 12px;

    max-width: 80%;
}

#about-section button {
    width: fit-content;
    background: none;

    padding: 6px 12px;
    border: 1px solid orange;

    font-family: monospace;
    color: white;

    margin: 8px 0;
}

#about-section button:hover {
    color: lightgreen;
    border: 1px solid lightgreen;
}


/* Main -> Second Section */
#about-section .white-space {
    width: 40%;
    border: 0px solid white;
}



.about-card span {
    color: white;
}

.about-card img {
    height: 20px;
}