#contact {
    display: flex;
    flex-direction: column;

    border: 0px solid white;
    padding: 0 10rem;

    margin: 1rem 0;

    color: white;
}

#contact:hover {
    color: lightgreen;
}

#contact #hash {
    color: orangered;
}

#contact main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border: 0px solid white;
    padding: 1rem 2rem;
}

/* Main -> First Section */
#contact .contact-description {
    width: 80%;
    border: 0px solid white;

    display: flex;
    flex-direction: column;

    text-align: start;
    font-size: 14px;
    color: white;
}


#contact #desc-text {
    margin: 6px 0;

    font-size: 13px;

    max-width: 60%;
}


/* Main -> Second Section */
#contact .contact-links {
    width: 20%;
    border: 0px solid white;
    color: white;
}

#contact #contact-links-board {
    border: 1px solid white;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 12px 0;
}

#contact #contact-links-board:hover {
    border: 1px solid lightgreen;
}

#contact #contact-links-board p {
    padding-bottom: 4px;
    border-bottom: 0.1px solid white;

    margin-bottom: 8px;

    font-family: monospace;
    font-size: 16px;
}

#contact #contact-links-board .row {
    border: 0px solid white;
    width: 50%;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    padding: 4px 0;
    margin-top: 4px;

    font-size: 12px;
}

#contact #contact-links-board .row:hover {
    color: lightgreen;
    font-weight: bold;
}

#contact #contact-links-board .row span {
    color: white;
    margin-left: 8px;
}


#contact img {
    height: 16px;
}