.follow-line {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem 2rem;

    height: 100%;
    width: min-content;

    position: fixed;

    border: 0px solid white;
}

.follow-line hr {
    height: 160px;
    opacity: 50%;

    padding: 0rem;
}

.follow-line img {
    height: 18px;
    margin-top: 8px;
}