#funfact-section {
    display: flex;
    flex-direction: column;

    width: 100%;
    border: 0px solid white;
    color: white;
}

#funfact-section:hover {
    color: lightgreen;
}

#funfact-section header {
    border: 0px solid white;
    font-size: 20px;
}

#funfact-section main {
    max-width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 8px;

    border: 0px solid white;
    padding: 1rem 1rem;
}


/* Funfacts */
.funfact {
    border: 0.1px solid white;
    padding: 6px 8px;

    font-size: 14px;
    font-family: monospace;
    color: white;
}

.funfact:hover {
    border: 0.1px solid lightgreen;
    color: lightgreen;
    cursor: grab;
}

/* Mobile Screen */
@media (max-width: 600px) {
    #funfact-section {
        padding: 0 1rem;
    }

    #funfact-section main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        align-items: center;
        margin: auto;

        row-gap: 12px;
        column-gap: 12px;
    }
}