.intro-card {
    width: 100%;

    display: flex;
    justify-content: space-between;

    border: 0px solid white;
    padding: 2rem 10rem;

    color: white;
}

@media (max-width: 600px) {
    .intro-card {
        padding: 2rem 2rem;
        flex-direction: column;
    }

    .intro-card #left h3 {
        font-size: 22px;
    }

    .intro-card #left p {
        font-size: 14px;
    }


}

/* first part */
.intro-card #left {
    border: 0px solid white;
    text-align: start;

}

.intro-card #left h3 {
    padding: 0 0;
}

.intro-card #left p {
    padding: 12px 0;
}

.intro-card span {
    color: rgb(255, 109, 55);
}

.intro-card #left button {
    padding: 6px 12px;
    color: white;
    font-weight: 600;

    background: none;

    border: 1px solid rgb(255, 109, 55);

    box-shadow: 0px 0px 4px 2px rgba(245, 245, 245, 0.1),
        0px 0px 4px 2px transparent inset;

    border-radius: 4px;

    cursor: pointer;
}

.intro-card #left button:hover {
    color: white;
    background: rgb(255, 109, 55);
}

.intro-card #right {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    border: 0px solid white;

}


/* second part */
.intro-card #right img {
    height: 280px;

    /* padding: 4px 0; */
    margin: 0;
}

.intro-card #right p {
    width: max-content;
    font-size: 12px;

    outline: 0.1px solid whitesmoke;
    outline-offset: 4px;

    /* margin-block: 0; */
    margin: 4.5px 0;
}

.intro-card #right span {
    font-weight: bold;
}