nav {
    border: 0px solid white;

    width: 100%;

    display: flex;
    justify-content: space-between;

    padding: 1rem 5rem;
    color: white;
}

nav h2 {
    margin: 0 0;
    font-family: monospace;

    font-size: 18x;
}

nav h2:hover {
    color: lightgreen;
}

nav h2 img {
    height: 20px;
}

nav ul {
    margin: 0 0;
    list-style: none;

    display: flex;
}

nav ul li {
    padding: 0 8px;
}

nav ul li a:hover {
    color: lightgreen;
}

nav ul li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

nav ul li a span {
    color: orangered;
}