nav {
    width: 90%;

    display: flex;
    justify-content: space-between;

    margin: 1rem 5rem;

    color: white;
}

nav h2 {
    margin: 0 0;
    font-family: monospace;

    font-size: 18x;
}

nav h2 img {
    height: 20px;
    color: white;
}

nav ul {
    margin: 0 0;
    list-style: none;

    display: flex;
}

nav ul li {
    padding: 0 6px;
}

nav ul li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

nav ul li a span {
    color: rgb(218, 41, 218);
}