#projects {
    display: flex;
    flex-direction: column;

    border: 0px solid white;
    padding: 0 10rem;

    color: white;
}

#projects:hover {
    color: lightgreen;
}

#projects span {
    color: orangered;
}

#projects header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 0px solid white;
    width: 100%;
}

#projects header button {
    color: white;
    border: none;
    background-color: transparent;
    font-family: 'Fira Code', monospace;
}

#projects header hr {
    transform: rotate(90deg);

}

#projects main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;

    border: 0px solid white;
    padding: 2rem 1rem;
    gap: 6px;
}

.project-card {
    display: flex;
    flex-direction: column;

    width: 240px;
    height: 250px;
    word-spacing: -2px;

    border: 1px solid white;
    padding: 6px 8px;
    margin: 0 0rem;
    color: white;
}

.project-card:hover {
    border: 1px solid lightgreen;
}

.project-card #madeby {
    font-size: 12px;
    border: 0px solid white;
    font-family: monospace;

    text-align: center;
    max-height: 18px;

    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-bottom: 6px;
    border-bottom: 0.1px solid white;
}

.project-card .row {
    display: flex;
    flex-direction: column;

    border: 0px solid white;
    margin: 8px 0;

    align-items: center;
    justify-content: center;

    font-family: 'Poppins';
}


.project-card #desc {
    font-size: 12px;
    font-weight: 500;
    border: 0px solid white;

    max-width: 100%;
    overflow: clip;
    text-overflow: ellipsis;

    margin: 0px 0px 16px 0px;
    text-align: center;
}

.project-card h3 {
    font-weight: bold;
    font-size: 22px;
}

.project-card button {
    color: white;
    background-color: transparent;

    font-weight: 500;
    font-family: 'Poppins';

    border: 0.1px solid orange;
    margin: 0 0.2rem;
}

.project-card button:hover {
    border: 1px solid lightgreen;
    color: lightgreen;
    background-color: transparent;
}

.project-card .btns {
    display: flex;
    flex-direction: row;

    justify-content: center;
    border: 0px solid white;

    margin-top: auto;
    margin-bottom: 2px;
    gap: 4px;
}

.project-card img {
    height: 60px;
    margin: 2px;
    border-radius: 12px;
}

#projects #view-all-btn:hover {
    color: lightgreen;
}

@media (max-width: 600px) {

    #projects {
        padding: 0 1rem;
        ;
    }

    #projects main {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        margin-bottom: 6px;
    }

}