#project-section {
    display: flex;
    flex-direction: column;

    border: 0px solid white;
    padding: 0 10rem;

    color: white;
}

#project-section span {
    color: orangered;
}

#project-section header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    border: 0px solid white;
}

#project-section header button {
    color: white;
    border: none;
    background-color: transparent;
    font-family: 'Fira Code', monospace;
}

#project-section header hr {
    transform: rotate(90deg);

}

#project-section main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border: 0px solid white;

    padding: 2rem 1rem;
}



.project-card {
    display: flex;
    flex-direction: column;

    width: 280px;
    height: 320px;

    border: 1px solid white;
    padding: 1rem 1rem;
    margin: 0 0rem;

}

.project-card #madeby {
    font-size: 12px;
    border: 0px solid white;
    font-family: monospace;

    height: 20px;
    margin: 0;

    text-align: center;

    max-width: 100%;
    overflow: clip;
    text-overflow: ellipsis;

    border-bottom: 0.1px solid white;
}

.project-card .row {
    display: flex;
    flex-direction: column;
    margin: 0px 0;

    padding: 0px 0;
    border: 0px solid white;
    height: 120px;

    align-items: center;
    justify-content: center;
}

.project-card #desc {
    font-size: 14px;
    font-family: monospace;
    border: 0px solid white;

    height: 120px;

    max-width: 100%;
    overflow: clip;
    text-overflow: ellipsis;

    text-align: justify-all;
}

.project-card h3 {
    font-weight: bold;
    font-size: 22px;
}


.project-card button {
    background-color: transparent;
    color: white;
    font-family: 'Fira Code', monospace;

    border: 1px solid orange;
    height: 25px;
    width: 50px;

    margin: 0 0.2rem;
}

.project-card .btns {
    display: flex;
    flex-direction: row;

    margin: 0rem 0;
    height: 40px;

    border: 0px solid white;
}

.project-card img {
    height: 60px;
    margin: 2px;
    border-radius: 12px;
}