#quote-card {
    display: flex;
    flex-direction: column;

    padding: 2rem 10rem;

    align-items: center;

    border: 0px solid whitesmoke;

    color: lightgreen;
}

#quote-card h3 {
    border: 1px solid whitesmoke;
    padding: 15px;

    text-align: center;

    width: 80%;
    font-size: 20px;
    font-weight: 500;
}

#quote-card h4 {
    width: 18%;
    text-align: center;

    font-size: 14px;

    border: 1px solid whitesmoke;
    border-top: none;
    padding: 12px 0px;

    font-weight: 400;

    margin: 0;

    position: relative;
    top: -10px;
    left: 28%;
}

#quote-card #first {
    height: 12px;

    position: relative;
    top: 8px;
    left: -35%;

    background-color: #282C33;

    padding: 0 6px;
    width: fit-content;

}

#quote-card #second {
    height: 10px;

    position: relative;
    top: -5px;
    left: 22%;

    background-color: #282C33;

    margin: 0 8px;
    padding: 0 4px;
    width: fit-content;
}