@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    background-color: #282C33;

    display: flex;
    flex-direction: column;

    width: 100%;
    border: 0px solid white;
}

header {
    display: flex;
    flex-direction: row;
    border: 0px solid white;
}



main {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    border: 0px solid white;
}

#home {
    margin: 56px 0 0 0;
}

footer {
    display: flex;
    flex-direction: row;

    text-align: center;
    border: 0px solid white;

    border-top: 0.1px solid white;
}

.main-components {
    border: 0px solid white;

    width: 100%;

    display: flex;
    flex-direction: column;

    text-align: center;
}

.invisible-space-m {
    display: flex;
    border: 0px solid white;

    width: 8%;
    height: 100%;
}

#copyright-tag {
    text-align: center;
    color: white;
    padding: 0;

    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 500;
    opacity: 50%;

    margin-top: -12px;
    margin-bottom: 12px;
}

button {
    cursor: pointer;
}

span {
    color: orangered;
}


p {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
}

a {
    text-transform: none;
    text-decoration: none;
    color: white;
}


/* Media Queries */
@media (max-width: 600px) {
    .invisible-space {
        width: 0;
    }

    .invisible-space-m {
        width: 0;
    }

    #copyright-tag {
        margin-top: 0;
    }
}