body {
    padding: 0;
    background-color: #282C33;
    font-family: 'Fira Code', monospace;
}

header {
    display: flex;
    justify-content: start;
}

main {
    width: 90%;

    position: absolute;
    top: 12%;

    margin: 0 5rem;
}