#footer-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: none;
  color: var(--clr-font);

  text-align: center;
  font-family: monospace;

  border: 0px solid var(--clr-font);
  padding: 2rem 10rem;
}

#footer-section #first {
  width: 70%;
  border: 0px solid var(--clr-font);

  text-align: start;
  margin: 0 12px;
}

#footer-section .left {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

#footer-desc {
  margin: 12px 0;
  font-size: 14px;
}

#footer-section #second {
  width: 30%;
  border: 0px solid var(--clr-font);

  display: flex;
  flex-direction: column;
}

#footer-section .right {
  margin-top: 12px;
}

#footer-email {
  cursor: pointer;
}

#footer-email:hover {
  color: lightgreen;
  font-size: 14px;
}

#copyright-tag {
  display: grid;
}

#footer-section img {
  height: 20px;
}

#footer-section .right img {
  margin: 0 4px;
}

/* footer text area */
footer p {
  padding: 0;
  margin: 0;
}

footer h2 {
  padding: 0;
  margin: 0;
}

#copyright-tag {
  text-align: center;
  color: var(--font-clr);
  padding: 0;
  font-size: 12px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  #footer-section {
    padding: 1rem 1rem;
    justify-content: space-between;
  }

  #footer-section #first .left h2 {
    font-size: 14px;
    margin-bottom: 1px;
  }

  #footer-section #first {
    margin: 0;
    width: 78%;
    padding: 0 12px;
  }

  #footer-section #first .left {
    display: grid;
  }

  #footer-section #first .left a {
    margin-top: 6px;
    margin-bottom: -2px;
  }

  #footer-section #first #footer-desc {
    font-size: 12px;
  }

  #footer-section #second {
    width: 22%;
    /* border-left: 0.1px solid var(--clr-font); */
  }

  #footer-section #second h2 {
    font-size: 14px;
    margin-bottom: 0px;
  }

  #footer-section #second .right {
    display: grid;
    row-gap: 4px;
  }
  #copyright-tag {
    margin-top: 0;
  }
}
