.notfound_page {
  margin: 0;
}

.notfound_page {
  width: 100vw;
  min-height: 90vh;
  height: max-content;

  color: white;
}

.notfound_page_main {
  width: 100%;
  height: 100vh;

  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.notfound_page_main h1 {
  text-align: center;
  text-transform: uppercase;

  letter-spacing: 1px;

  font-size: 3rem;
  font-weight: 600;
  /* align-self: center; */
  margin-top: -5%;
}

.notfound_page_main h3 {
  font-family: monospace;
  font-size: 1.4rem;
  font-weight: 600;
}

.ButtonBox {
  margin-top: 8px;
}

.getBackButton {
  cursor: pointer;
  font-size: 1.4rem;
  margin-top: 12px;
  color: lightgreen;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}
.getBackButton:hover {
  color: rgb(106, 211, 106);
}

@media (max-width: 600px) {
  .notfound_page {
    min-height: calc(100vh - 60px);
  }

  .notfound_page_main {
    height: 90%;
  }
}
