@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  }
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

code {
  font-family: monospace;
}

p {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

span {
  color: #ff6d37;
}

a {
  text-transform: none;
  text-decoration: none;
  color: white;
}
